/*设计稿原型的尺寸为768，ipad，需要与手机的分开打包*/
@import "mixin";
@media only screen and (min-width:768Px) and (max-width:1024Px) {
  html,body{
    height:100%;
  }
  #header {
    height: 70px;
    background-color: #fff;
    position: relative;
    box-shadow: 0Px 1Px 3Px rgba(0, 0, 0, .3);
  }
  #header-content {
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin: 0 auto;
    font-size: 0;
    #navicon{
      font-size: 25px;
      float: left;
      margin-left: 20px;
      margin-top: 20px;
    }
    .user-control {
      height: 100%;
      float: right;
      font-size: 0;
      cursor: pointer;
      margin-right:10px;
position: relative;
      .user-img {
        width: 40Px;
        height: 40Px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10Px;
      }
      .icon-angle-down {
        font-size: 22Px;
        margin-right: 5Px;
        vertical-align: middle;
      }
      .control-wrap{
        width:141Px;
        background-color: #fff;
        position: absolute;
        right: 0px;
        z-index: 1;
        box-shadow: 0 0 0 gray,5Px 5Px 5Px gray,0 5Px 5Px gray,-5Px 5Px 5Px gray;
        .option{
          width: auto;
          height:32Px;
          font-size: 14Px;
          line-height: 32Px;
          &:hover{
            background-color: #efefef;
          }
          &:first-child{
            margin-top: 12Px;
          }
          &:last-child{
            margin-bottom: 12Px;
          }
          span{
            margin-left:15Px;
          }
        }
      }
    }
  }
  #root {
    height:100%;
    background-color: rgb(243, 243, 243);
  }
  #logo {
    width: 99px;
    height: 34px;
    vertical-align: middle;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }
  #content-wrap{
    //@include autoHeight(calc(100% - 99px));
    overflow: auto;
  }
  #content {
    width: 100%;
    margin: 0 auto;
    .left-place{
      display: none;
    }
    .left-content {
      display: none;
    }

    .right-content {
      overflow: hidden;
      //padding:0 12px;
      .general-information {
        margin-top: 16px;
        overflow: hidden;
        padding:0 10px;
        .box1 {
          width: 234px;
          height: 116px;
          float: left;
          color: #fff;
          position: relative;
          &:not(:last-child) {
            margin-right: 20px;
          }
          .type-name {
            font-size: 18px;
            position: absolute;
            left: 11px;
            top: 18px;
          }
          .number {
            font-size: 48px;
            position: absolute;
            right: 26px;
            bottom: 21px;
          }
        }
        .building-box {
          background-color: #ff9a2a;
          position: relative;
          .building-img {
            position: absolute;
            top: -10px;
            left: 43px;
            color:#FFC328;
            font-size:132px;
            animation: doRoute 2s linear 0s infinite;
          }
        }
        #buildbox{margin-right:22px;}
        .idle-box {
          width:236px;
          background-color: #7fbc39;
          .coffee{
            position:absolute;
            width:100px;
            color:#94c75a;
            font-size: 119px;
            left: 68px;
          }
        }
        .total {
          background-color: #fff;
          color: #2D4054;
          display: flex;
          flex-direction: column;
          width:236px;
          .total-item {
            width: 236px;
            height:33%;
            line-height:38px;
            box-sizing: border-box;
            padding: 0 24px;
            .top-key {
              display: none;
            }
            .bottom-value {
              display: none;
            }
            .top-key-desk {
              font-size: 12px;
            }
            .bottom-value-desk {
              font-size: 20px;
              float:right;
            }
          }
        }
      }
      .type {
        margin-top: 16px;
        overflow: hidden;
        padding:0 10px;
        ul {
          float: left;
          li {
            &:nth-child(1) {
              width: 82px;
            }
            &:nth-child(2) {
              width: 95px;
            }
            &:nth-child(3) {
              width: 91px;
            }
            box-sizing: border-box;
            height: 53px;
            line-height: 53px;
            text-align: center;
            margin-right: 1Px;
            float: left;
            background-color: #fff;
            cursor: pointer;
            font-size:16px;
            &:hover {
              border-bottom: 3px solid #00b4cf;
              color: #00b4cf;
            }
          }
        }
        .search-content {
          background-color: #fff;
          float: left;
          height: 31px;
          width:415px;
          padding: 11px 12px;
          padding-left:50px;
          label {

          }
          .icon-search {
            position: relative;
            right: 162px;
            top:3px;
            cursor: pointer;
            font-size: 18px;
          }
          input[type='text'] {
            height: 29px;
            width: 171px;
            box-sizing: border-box;
            outline: none;
            border: none;
            padding-left: 30px;
            border-left: 1Px solid rgb(225, 228, 230);
            border-top: 1Px solid rgb(225, 228, 230);
            background-color: rgb(243, 243, 243);
          }
          .icon-th-card {
            display: none;
          }
          .icon-th-list {
            display: none;
          }
        }
      }
      .system-list {
        margin-top: 16px;
        width:100%;
        padding-bottom: 29px;
        //padding:0 10px;
        .system-item {
          background-color: #fff;
          margin-top: 16px;
          margin-left: 10px;
          margin-right: 10px;
          overflow: hidden;
          &:last-child{
            margin-bottom: 16px;
          }
          #status-line{
            display: none;
          }
          .system-icon {
            display: none;
          }
          .item-info {
            overflow: hidden;
            padding: 17px 12px;
            .url-name {
              color: #00b4cf;
              font-weight: bold;
              margin-left: 10px;
            }
            .status-idle {
              width: 40px;
              height: 19px;
              color: #fff;
              line-height: 19px;
              text-align: center;
              background-color: #7fbc39;
              margin-right: 52px;
              font-size:14px;
            }
            .status-building {
              width: 61px;
              height: 19px;
              color: #fff;
              line-height: 19px;
              text-align: center;
              background-color: #ff9a2a;
              margin-right: 31px;
              font-size:14px;
            }

            .top-info {
              margin-bottom: 28px;
              i {
                font-size: 20px;
                vertical-align: middle;
              }
              .top-inline {
                display: inline-block;
                vertical-align: middle;
                span {
                  vertical-align: middle;
                  font-size:14px;
                }
              }
              .name {
                margin-right: 28px;
              }
              .ip {
                margin-right: 19px;
                span {
                  margin-left: 12px;
                }
              }
              .location {
                span {
                  margin-left: 10px;
                }
              }
            }
            .add-info {
              .add-button {
                width: 27px;
                height: 25px;
                background-color: #00b4cf;
                line-height: 25px;
                text-align: center;
                color: #fff;
                font-size: 18px;
                cursor: pointer;
                float: left;
                &:hover {
                  background-color: #01869a;
                }
                .icon-plus {
                  vertical-align: middle;
                }
              }
              .browser-list {
                float: left;
                li {
                  padding:0 10px;
                  min-width: 60px;
                  height: 26px;
                  float: left;
                  line-height: 26px;
                  background-color: #efefef;
                  text-align: center;
                  margin-left: 10px;
                  font-size:14px;
                  i {
                    font-size: 16px;
                    margin-left: 8px;
                    vertical-align: middle;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
      .no-data{
        width:100%;
        text-align: center;
        margin-top:20%;
      }
      .refresh-data{
        color:#00b4cf;
      }
    }
  }
  #history-wrap {
    position: absolute;
    bottom: 46px;
  }
  #history-title {
    font-size: 24px;
    color: #ccc;
    margin-left: 14px;
    margin-bottom: 20px;
  }
  .history-list {
    li {
      font-size: 12px;
      color: #999;
      margin-bottom: 12px;
      &:hover {
        color: #00b4cf;
      }
      span {
        margin: 0 20px 0 12px;
      }
    }
  }
  #footer {
    height: 29px;
    line-height: 29px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0Px -2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    font-size:14px;
    margin-top: -29px;
    span {
      font-weight: bold;
    }
  }
  #mask{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: #00000088;
  }
  #popup-box {
    box-sizing: border-box;
    width: 568px;
    height: 157px;
    position: absolute;
    top: 270px;
    left: 0px;
    right:0px;
    margin:auto;
    border: 1Px solid #00b4cf;
    background-color: #fff;
    box-shadow: 0Px 3Px 5Px rgba(0, 0, 0, .3);
    z-index: 0;
    padding: 26px 17px 17px;
    //display: none;
    .warn{
      font-size:14px;
    }
    .close {
      position: absolute;
      right: 17px;
      top: 12px;
      font-size: 18px;
      color:#00b4cf;
      cursor: pointer;
    }
    .triangle {
      display: none;
    }

    input[type='text'] {
      margin-top: 12px;
      margin-bottom: 23px;
      width: 523px;
      height: 36px;
      color: #00b4cf;
      border-radius: 2px;
      border: 1Px solid #e1e4e6;
      outline: none;
      -webkit-appearance: none; /*去除系统默认的样式*/
      padding-left: 15px;
    }
    .button-wrap {
      overflow: hidden;
      font-size:14px;
      div {
        height: 29Px;
        color: #fff;
        text-align: center;
        line-height: 29Px;
        float:left;
      }
      .add-resources {
        width: 133px;
        background-color: #00b4cf;
        margin-right:15px;
        &:hover {
          background-color: #01869a;
        }
      }
      .cancel {
        width: 118px;
        background-color: #435466;
        &:hover {
          background-color: #2D4054;
        }
      }
    }
  }
  #navigation-wrap {
    width: 270px;
    display: block;
    //display: none;
    height:100%;
    //@include autoHeight(calc(100% - 70px));
    background-color: #2d4054;
    position: absolute;
    bottom:0px;
    z-index: 1;
    #nav-close{
      position: absolute;
      right:20px;
      top:20px;
      font-size: 20px;
      color:#00b4cf;
    }
    .navigation {
      margin-top:110px;
      li {
        margin-top:10px;
        color: #f3f3f3;
        height: 45px;
        line-height: 45px;
        padding-left: 32px;
        font-size: 18px;
        &:hover {
          background-color: #435466;
          color: #00b4cf;
        }
        span {
          margin-left: 18px;
        }
      }
    }
  }
  #app-wrap{
    background-color: #f3f3f3;
    min-height:100%;
  }
}